environment {
    //LC_CTYPE "zh_CN.UTF-8" 会导致输入法出现漏字
    //LC_MESSAGES "zh_CN.UTF-8" 让系统全局使用英文，仅主要界面为英文时使用这个环境变量
    // 设置界面语言
    LANG "zh_CN.UTF-8"
    LC_CTYPE "en_US.UTF-8" //这一项可以解决漏字问题，但是也许会导致steam之类的x11应用无法使用中文输入法
    // 输入法环境变量
    XMODIFIERS "@im=fcitx"
    // qt主题
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    // 解决quickshell图标主题缺失问题
    QS_ICON_THEME "Adwaita"
    // GTK软件使用的渲染器，可以解决n卡双显卡导致的GTK应用启动缓慢问题，AMD或Intel单显卡不需要这行设置可以注释掉
    GSK_RENDERER "gl"
    // 默认文本编辑器
    EDITOR "vim"
    
}

